@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: inherit;
  color: inherit;
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}